*.pyc
*.h5

Working_example/Comparison_mol/
Working_example/settings.ini
Working_example/Comparison_mass/
Working_example/Comparison/
Working_example/simulationInputFiles/
Working_example/simulationSummaries/
Working_example/excelSummaries/
Working_example/GCxGC_fid_index.csv
Working_example/Figures_experiment
Working_example/database_examples/.ipynb_checkpoints
Working_example/propane_offline/excelSummaries
Working_example/propane_offline/GCxGC_fid_index.csv
Working_example/propane_offline/correlation_matrix.xlsx
Working_example/propane_offline/Figures_experiment
.cache/

dataProcessing/__pycache__/
plotters/__pycache__/
readers/__pycache__/
runner/__pycache__/
writers/__pycache__/

unit_tests/.cache/
unit_tests/.ropeproject/
unit_tests/.pytest_cache/
unit_tests/testFiles_dataProcessing/yield_processor_test/JSR/excelSummaries/
unit_tests/testFiles_dataProcessing/yield_processor_test/IHEB/RGA/20180613-propane_880/*.csv

.metadata
.mypy_cache
*.ropeproject
